/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial;
    background-color: #f2f2f2;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding:15px 0;
    height: 55px;
    text-align: center;
    letter-spacing: 1px;

}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.container form {
    text-align: center;
}

.container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.container input,
.container textarea {
    width: 65%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.container input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #555;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
