<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <title>Home page</title>
</head>
<body>    
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/product">Add Product</a></li>
                <li><a href="/sort">Sort by Brand</a></li>
            </ul>
        </nav>
    </header>
    <section>
    <center>
        <% info.forEach(function(Phonelist) { %>
        
            <div class="list">
            <%= Phonelist.make %> <br>
            <%= Phonelist.model %> <br>
            <%= Phonelist.price %> <br> 
            <img src="<%= Phonelist.imageURL %>" alt="Image" width="250" height="250">
            </div>
        <% }); %>
        
    

    </center>
    
    </section>

    
    
    
    <footer>
        <p>&copy; Class Inc</p>
    </footer>
</body>
</html>

